.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.openbtn {
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px;
  margin: 0px;
}
.openModal {
  position: absolute;
  bottom: -160%;
  width: 50%;
  background-color: cadetblue;
  color: black;
  transition: transform 500ms ease-in-out;
  transform-origin: top;
  transform: translateX(0%);
}
.openModal.show {
  transform: translateX(100%);
}
.add_task {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}
