.container {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.content {
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 20px 10px;
  border-radius: 8px;
  border: 1px solid #1890ff;
  margin-top: 20px;
  position: relative;
}
.logo {
  position: absolute !important;
  top: 0px;
}
.header {
  text-align: center;
  margin-top: 10px;
  z-index: 555;
}
.header > h2 {
  color: white !important;
  margin: 0px !important;
  padding: 0px !important;
}
.input {
  display: block;
  width: 100%;
  border: 1px solid #1890ff;
  background-color: transparent;
  border-radius: 25px;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  background: #1890ff;
}
