.menubar_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(220, 220, 220, 0.493);
  padding: 8px 20px;
}
.notificationMSG_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 70%;
}
.serch_box {
  position: relative;
  width: 50%;
  background-color: #2d3033;
  margin: 0 auto;
  padding: 9px 10px;
  border-radius: 25px;
}
.serch_box > input {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 19px;
}
.serch_box > p {
  position: absolute;
  top: 6px;
  right: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}
.notificationMSG_container > p {
  color: white;
  font-size: 19px;
  margin-top: 9px;
  cursor: pointer;
}
